<section>
  <div class="header-div">
    <app-header></app-header>
  </div>

</section>
<section>
  <div class="row">
    <div class="col-md-7">
      <app-add></app-add>
    </div>
    <div class="col-md-5">
      <app-chart></app-chart>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <app-tasks></app-tasks>
      </div>
      <div class="col-md-4">
        <app-priority></app-priority>
        <app-done></app-done>
      </div>
    </div>

  </div>
</section>
